<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225865634762-i7lfb34qtv5m69fhp521h3dfooidj235.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225865634762-i7lfb34qtv5m69fhp521h3dfooidj235</string>
	<key>API_KEY</key>
	<string>AIzaSyC7kjxtxIEKUdNwqe24CkpnalqszxAQ8Vs</string>
	<key>GCM_SENDER_ID</key>
	<string>225865634762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.playkit.cartappios</string>
	<key>PROJECT_ID</key>
	<string>cartsample-3b09a</string>
	<key>STORAGE_BUCKET</key>
	<string>cartsample-3b09a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225865634762:ios:92a29a872eebdac0f23533</string>
</dict>
</plist>